@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Naskh+Arabic:wght@400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ২. ডার্ক থিম - যখন html ট্যাগে .dark ক্লাস থাকবে */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* ৩. বডিতে ভ্যারিয়েবল অ্যাপ্লাই */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}

/* Tailwind v4 theme mapping */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Arabic Font Classes */
.font-amiri {
  font-family: 'Amiri', serif;
}

.font-noto {
  font-family: 'Noto Naskh Arabic', serif;
}

/* Basic style to read quran */
[dir="rtl"] {
  line-height: 1;
  word-spacing: 4px;
}